[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
[submodule "SukiSU"]
	path = SukiSU
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra/
	branch = susfs-main
